{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-transform-react-jsx-source",
                "transform-inline-environment-variables",
                "styled-components"
            ]
        },
        "production": {
            "plugins": [
                "transform-inline-environment-variables",
                "styled-components"
            ]
        }
    }
}
