{
    "presets": [
        "env",
        "react"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-react-jsx-source",
                "transform-inline-environment-variables",
                "styled-components"
            ]
        },
        "production": {
            "plugins": [
                "transform-inline-environment-variables",
                "styled-components"
            ]
        }
    }
}